

.blog-heading{
    margin-top: 56px;
    margin-bottom: 32px;
}

.intro-text{
    font-size: 23px;
    margin-bottom: 50px;
}




@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .heading-wrapper{
        padding-right: 80px;
    }
}

@media (min-width: 1200px) {

}