$heading: 'Oswald', "sans-serif";

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

h4 {
    font-style: oblique;
    font-variant: normal;
    font-size: 16px;
}

input,textarea{
    font-family: $heading;
}
.nav-font{
    font-family: $heading;
}

@media (min-width: 576px) {

}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

h2 {
    font-size: 44px;
    margin-bottom: 16px;
}

h4 {
    font-style: oblique;
    font-variant: normal;
    font-size: 16px;
}

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}