@import "~bootstrap/scss/bootstrap.scss";
@import "./scss/contactPage.scss";
@import "./scss/blogPost.scss";
@import "./scss/font.scss";
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Noto+Serif+SC|Oswald|Staatliches');




// font-family: 'Staatliches', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Major Mono Display', monospace;
// font-family: 'Noto Serif SC', serif;

$main-font: 'Noto Serif SC', "serif";
$heading: La Belle Aurore, "cursive";
$heading1: Oswald, "sans-serif";


$main-color: #3b3b3b;

body {
    font-family: $main-font;
    color: $main-color;
}

nav {
    background: #fafafa;
    box-shadow: 0px 0px 40px 0px #0000001c;
}

.navbar-nav {
    text-align: center;
}

.is-active{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading1;
}

a {
    color: $main-color;
}

p {
    font-family: $main-font;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin-bottom: 8px;
    padding-left: 4px;
}

li {
    font-family: $main-font;
    font-size: 16px;
}







@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}