@import "~bootstrap/scss/bootstrap.scss";
@import "./scss/contactPage.scss";
@import url('https://fonts.googleapis.com/css?family=Assistant|Cambo|La+Belle+Aurore');

$main-font: Assistant, "serif";
$heading: La Belle Aurore, "cursive";

$main-color: #3b3b3b;

body {
    font-family: $main-font;
    color: $main-color;
}

nav {
    background: #fafafa;
}

.navbar-nav {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading;
}

h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

h2 {
    font-size: 44px;
    margin-bottom: 16px;
}

h4 {
    font-style: oblique;
    font-variant: normal;
    font-size: 16px;
}

a {
    color: $main-color;
}

p {
    font-family: $main-font;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin-bottom: 8px;
    padding-left: 4px;
}

li {
    font-family: $main-font;
    font-size: 16px;
}

// blog-post

.blog-heading{
    margin-top: 56px;
    margin-bottom: 32px;
}

.intro-text{
    font-size: 23px;
}



@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}